body {
  background-color: #f2f2f2;
}

.logo {
  width: 100%;
}

.white-block {
  display: flex;
  justify-content: center;
}

.btn-signup {
  background-color: #39ac73;
}

.user-img {
  width: 72px;
  height: 48px;
}

.user-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.clr-grey {
  background-color: #f2f2f2;
}

figure {
  height: 200px;
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-post {
  width: auto;
  height: 100px;
}
